<div class="column-3-4">
  <p class="hashtag-title buffer-both"><%= @questions.first.hashtags[0].text %>:</p>
  <div class="user-questions buffer-both">
    <div class="questions-list">
      <% @questions.each do |question| %>
        <%= render partial: 'questions/question', object: question %>
      <% end %>
    </div>
  </div>
</div>