.questions-list {
  padding: 10px 0;
}

.question {
  background: white;
}

.question-content {
  padding: 10px 15px;
}

.question + .question {
  margin-top: 10px;
}

.question-text,
.question-answer {
  margin-bottom: 10px;
}

.question-text {
  color: #005a55;
}

.question-answer {
}

.question-date {
  color: #a0a0a0;
  font-size: 12px;
}

.question-actions {
  font-size: 20px;
  border-top: 1px solid #D9E6E5;
  text-align: right;
  padding: 10px 15px;
}

.question-actions a {
  margin-left: 10px;
}

.question-author {
  display: flex;
  align-items: center;
}

.question-author-username {
  font-style: italic;
  margin: 0 3px;
}

.question-author-image {
  width: 20px;
  height: 20px;
  border: 2px solid #00b6ad;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 3px;
}

.question-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hashtag {
  font-style: italic;
}

.hashtag:hover {
  color: #5F9EA0;
  font-style: italic;
}

.hashtag-title {
  margin: 20px;
  margin-left: 0;
  color: white;
  font-size: 20px;
}